@model IEnumerable<Domain.Models.Accounts.Account>

<ul>
    @foreach (var account in Model) {
        <li><a href="@Url.Action("Index", "VerifyAccount", new {Id = account.Id, EmailAddress = account.EmailAddress})">@account.FullName</a></li>
    }
</ul>