@using Web.Helpers
@model Domain.Models.Goals.Group

@section Head{
    <script type="text/javascript" src="../../Content/js/newgoal.js"></script>    
    <script type="text/javascript">
        $(function() {
            var bucketManager = new GoalManager($('#newGoal'), $("#buckets"), '@Model.Id');
            bucketManager.LoadGoals();
        });
    </script>
}

@section LeftColumn {
    @if (Model.IsAlone) {
        return;
    }
    @{
        var groupMembers = Html.GroupMembers();
    }

    @foreach (var groupMember in groupMembers) {
        @Html.Partial("Partials/SmallAccountLink", groupMember)
    }
}

@section Picture {
    @if (Model.IsAlone) {
        <img src="@Html.Account().Data.Picture" />
    }
    else {
        <img src="/Content/img/group-generic.jpg" />
    }    
}

@section Title {
    @Model.Title <span class="unhighlighted">&gt; Goals</span>
}

<ul id="buckets">
    <li class="goal"><a href="#" id="newGoal">New Goal</a></li>
</ul>