@model dynamic

@section Head{
    <script type="text/javascript" src="../../Content/js/newgoal.js"></script>
}

<fieldset>
    <legend>Unbucketed Goals <input type="button" name="new-goal" value="New" class="btn btn-primary" /></legend>
</fieldset>
<div>
    <ul id="orphaned-goals"></ul>
</div>