@using Web.Helpers
@model dynamic

@section Title {
    @Html.Site().Name
}

@section Picture {
    <img src="/Content/img/logo.jpg" />
}

<ul id="grouplisting">
    <li class="group"><a href="#" id="new-group">New Group</a></li>
</ul>