$primaryColor: darkred;
$lightGray: #E5E5E5;
$lightBlue: #0088CC;

body {
	font-family: "Roboto";
	line-height: 1.5em;
}

h1 {
	font-size: 1.5em;
	color: $primaryColor;
}

.sign-in-options [class^="span"] + [class^="span"] {
    border-left: 1px solid $primaryColor;
	min-height: 200px;
	padding-left: 15px;
}
.modal-body
{
	h3 {
		color: $primaryColor;
		font-size: 1.4em;
	}
}
.field-validation-error {
	color: darkred;
	font-size: 0.8em;
}
.input-validation-error {
	border: 1px solid darkred !important;
}
.goals-form {
	#Title, #Description {
		width: 100%;
	}
	#Description {
		height: 150px;
	}
	label {
		font-size: 1.3em;
	}
	input[type=text] {
		height: 1.3em;
		font-size: 1.3em;
	}
}
.bucket {
	border: 1px solid navy;
	height: 100px;
	width: 100px;
}
.goal
{
	border: 1px solid red;
	height: 100px;
	width: 100px;
	cursor: move;
}
#orphaned-goals, #buckets{
	margin: 0px;
	padding: 0px;
}
#buckets li, #orphaned-goals li
{
	float: left;
	margin-right: 15px;
}
.btn-new{
	background-image: url("../../Content/icons/add.png");
	min-width: 16px;
	height: 16px;
	border: 0px solid #fff;
}
.btn-edit{
	background-image: url("../../Content/icons/pencil.png");
	min-width: 16px;
	height: 16px;
	border: 0px solid #fff;
}
#groups {
	margin: 0px;
	padding: 0px;
	li {
		border-bottom: 1px dotted $lightGray;
		input{
			width: 100%;
		}
		a {
			display: block;
			padding-left: 5px;
			padding-top: 3px;
			padding-bottom: 3px;
		}
		a:hover {
			background-color: $lightBlue;
			color: #fff;
			text-decoration: none;
		}
	}
}
fieldset {
	textarea {
		width: 100%;
		height: 100px;
	}
}