<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.6.1" targetFramework="net45" />
  <package id="Simple.Data.Core" version="0.18.3.1" targetFramework="net45" />
  <package id="Simple.Data.MongoDB" version="0.18.0" targetFramework="net45" />
</packages>